<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        id="net.w3des.net.extjs.ui.help"
        point="org.eclipse.help.contexts">
        <contexts file="helpContexts.xml" />
    </extension>
    
    <extension
          point="org.eclipse.wst.common.project.facet.ui.images">
       <image path="icons/obj16/ext.png" facet="wst.jsdt.extjs.core" />
       <image path="icons/obj16/ext.png" category="wst.jsdt.extjs.category" />
       <image  path="icons/obj16/cmd.png" facet="wst.jsdt.extjs.cmd" />
    </extension>
    <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.w3des.extjs.ui.expressions.notextjsproject">
         <and>
             <with variable="selection">
                <iterate
                    ifEmpty="false"
                    operator="or">
                    <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.wst.jsdt.core.jsNature" />
                </iterate>
            </with>
            <not>
                <with variable="selection">
                    <iterate
                        ifEmpty="false"
                        operator="or">
                        <test 
                            forcePluginActivation="true"
                            property="org.eclipse.wst.common.project.facet.core.projectFacet"
                            value="wst.jsdt.extjs.core" />
                    </iterate>                            
                </with>
            </not>
        </and>
      </definition>
      <definition
            id="net.w3des.extjs.ui.expressions.extjsproject">
        <with
             variable="selection">
          <iterate
                ifEmpty="false"
                operator="or">
             <test
                   forcePluginActivation="true"
                   property="org.eclipse.wst.common.project.facet.core.projectFacet"
                   value="wst.jsdt.extjs.core">
             </test>
          </iterate>
       </with>         
      </definition>
    </extension> 
    <extension
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icons/ovr16/ext.png"
             id="net.w3des.extjs.ui.extjsNatureImage"
             natureId="net.w3des.extjs.core.extjsNature">
       </image>
    </extension>
    <extension
          id="net.w3des.extjs.ui.completion.extCategory"
          name="ExtJS"
          point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
       <proposalCategory
             icon="icons/obj16/ext.png">
       </proposalCategory>
    </extension>
    <extension
          id="net.w3des.extjs.ui.completion.type"
          point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
          name="ExtJS Create Type">
       <javaCompletionProposalComputer
             activate="true"
             categoryId="net.w3des.extjs.ui.completion.extCategory"
             class="net.w3des.extjs.ui.completion.TypeCompletion">
       </javaCompletionProposalComputer>
    </extension>
   <extension id="net.w3des.extjs.ui.fragment" point="org.eclipse.e4.workbench.model">
      <fragment uri="model/fragment.e4xmi"></fragment>
   </extension>
</plugin>
