<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        id="net.w3des.net.extjs.ui.help"
        point="org.eclipse.help.contexts">
        <contexts file="helpContexts.xml" />
    </extension>
    
    <!--extension 
        id="net.w3des.extjs.ui.documentationProvider"
        point="org.eclipse.wst.jsdt.ui.documentationProvider">
        <documentationProvider class="net.w3des.extjs.ui.jsduck.DocumentationProvider" />
    </extension-->
    
    <extension
          point="org.eclipse.wst.common.project.facet.ui.images">
       <image path="icons/obj16/ext.png" facet="wst.jsdt.extjs.core" />
       <image path="icons/obj16/ext.png" category="wst.jsdt.extjs.category" />
       <image  path="icons/obj16/cmd.png" facet="wst.jsdt.extjs.cmd" />
    </extension>
    
    <extension
         point="org.eclipse.ui.menus">
        <menuContribution
              allPopups="false"
              locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
              <menu
                    icon="icons/obj16/ext.png"
                    id="net.w3des.extjs.ui.menu.addExtJSSupport"
                    label="Add ExtJS Support">
                <visibleWhen
                    checkEnabled="false">
                    <and>
                        <with variable="selection">
                            <iterate
                                ifEmpty="false"
                                operator="and">
                                <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.wst.jsdt.core.jsNature" />
                            </iterate>
                        </with>
                        <not>
                            <with variable="selection">
                                <iterate
                                    ifEmpty="false"
                                    operator="and">
                                    <test 
                                        forcePluginActivation="true"
                                        property="org.eclipse.wst.common.project.facet.core.projectFacet"
                                        value="wst.jsdt.extjs.core" />
                                </iterate>                            
                            </with>
                        </not>
                    </and>
                </visibleWhen>
                <dynamic
                      class="net.w3des.extjs.ui.menu.AddExtJSSupportMenu"
                      id="net.w3des.extjs.ui.menu.addExtJSSupport">
                </dynamic>
              </menu>
              <command
                    commandId="net.w3des.extjs.ui.command.removeExtJSSupport"
                    icon="icons/obj16/delext.png"
                    label="Remove ExtJS Support"
                    style="push">
                 <visibleWhen
                       checkEnabled="false">
                       <with
                             variable="selection">
                          <iterate
                                ifEmpty="false"
                                operator="and">
                             <test
                                   forcePluginActivation="true"
                                   property="org.eclipse.wst.common.project.facet.core.projectFacet"
                                   value="wst.jsdt.extjs.core">
                             </test>
                          </iterate>
                       </with>
                 </visibleWhen>
              </command>
        </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="net.w3des.extjs.ui.command.AddExtJSSupport"
             description="Convert into facet project and install required facets"
             id="net.w3des.extjs.ui.command.addExtJSSupport"
             name="Add ExtJS Support">
       </command>
       <command
             defaultHandler="net.w3des.extjs.ui.command.RemoveExtJSSupport"
             description="Remove facets"
             id="net.w3des.extjs.ui.command.removeExtJSSupport"
             name="Remove ExtJS support from project">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icons/ovr16/ext.png"
             id="net.w3des.extjs.ui.extjsNatureImage"
             natureId="net.w3des.extjs.core.extjsNature">
       </image>
    </extension>
    <extension
          id="net.w3des.extjs.ui.completion.extCategory"
          name="ExtJS"
          point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
       <proposalCategory
             icon="icons/obj16/ext.png">
       </proposalCategory>
    </extension>
    <extension
          id="net.w3des.extjs.ui.completion.type"
          point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
          name="ExtJS Create Type">
       <javaCompletionProposalComputer
             activate="true"
             categoryId="net.w3des.extjs.ui.completion.extCategory"
             class="net.w3des.extjs.ui.completion.TypeCompletion">
       </javaCompletionProposalComputer>
    </extension>
    <extension
          point="org.eclipse.wst.jsdt.ui.javaElementFilters">
       <filter
             class="net.w3des.extjs.ui.editor.filter.AliasFilter"
             enabled="true"
             id="net.w3des.extjs.ui.editor.filter.alias"
             name="ExtJS aliases"
             targetId="org.eclipse.wst.jsdt.ui.JavaOutlinePage">
       </filter>
    </extension>
</plugin>
