<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.w3des.extjs.core.runtimelib" name="ExtJS SDK" schema="schema/net.w3des.extjs.core.runtimelib.exsd"/>
    <!-- inference extjs class -->
    <extension
        point="org.eclipse.wst.jsdt.core.inferrenceSupport"
        name="ExtJS Inference Support">
        <inferenceProvider class="net.w3des.extjs.internal.core.infer.InferProvider" />
    </extension>

    <extension
        point="org.eclipse.wst.common.project.facet.core.facets">
        <category id="wst.jsdt.extjs.category">
            <label>ExtJS facets</label>
            <description></description>
        </category>
        <project-facet id="wst.jsdt.extjs.core">
            <label>ExtJS</label>
            <description>ExtJS core facet</description>
            <member category="wst.jsdt.extjs.category" />
        </project-facet>
        <project-facet-version facet="wst.jsdt.extjs.core" version="3.4">
          <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.touch" />
              </and>
          </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>
        <project-facet-version facet="wst.jsdt.extjs.core" version="4.0">
          <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.touch" />
              </and>
          </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>
        <project-facet-version facet="wst.jsdt.extjs.core" version="4.1">
          <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.touch" />
              </and>
          </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>
        <project-facet-version facet="wst.jsdt.extjs.core" version="4.2">
           <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.touch" />
              </and>
           </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>
        <project-facet-version facet="wst.jsdt.extjs.core" version="5.0">
           <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.touch" />
              </and>
           </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>

        <project-facet id="wst.jsdt.extjs.cmd">
            <label>Sencha CMD&#174;</label>
            <description>Support for Sencha CMD&#174;</description>
            <member category="wst.jsdt.extjs.category" />
        </project-facet>
        <project-facet-version facet="wst.jsdt.extjs.cmd" version="3.1">
            <constraint>
                <requires facet="wst.jsdt.extjs.core" version="[4.1" />
            </constraint>
        </project-facet-version>
        <action type="INSTALL" facet="wst.jsdt.extjs.cmd">
            <delegate class="net.w3des.extjs.internal.core.facet.CmdInstall"></delegate>
        </action>
        <action type="INSTALL" facet="wst.jsdt.extjs.core">
            <delegate class="net.w3des.extjs.internal.core.facet.CoreInstall"></delegate>
        </action>
        <action type="UNINSTALL" facet="wst.jsdt.extjs.core">
            <delegate class="net.w3des.extjs.internal.core.facet.CoreUninstall"></delegate>
        </action>
        <action type="VERSION_CHANGE" facet="wst.jsdt.extjs.core">
            <delegate class="net.w3des.extjs.internal.core.facet.CoreInstall"></delegate>
        </action>
        <project-facet
              id="wst.jsdt.extjs.touch">
           <label>
              Sencha Touch
           </label>
           <description>
              Sencha Touch core facet
           </description>
           <member
                 category="wst.jsdt.extjs.category">
           </member>
        </project-facet>
        <project-facet-version facet="wst.jsdt.extjs.touch" version="2.3">
           <constraint>
              <and>
                  <requires facet="wst.jsdt.web" />
                  <conflicts facet="wst.jsdt.extjs.core" />
              </and>
           </constraint>
          <group-member id="wst.jsdt.extjs" />
        </project-facet-version>
    </extension>
    <extension point="org.eclipse.wst.common.project.facet.core.presets">
        <static-preset id="net.w3des.extjs.core.facet.preset">
            <label>
                ExtJS Project
            </label>
            <facet id="wst.jsdt.web" version="1.0" />
            <facet id="wst.jsdt.extjs.core" version="4.2" />
            <facet id="wst.jsdt.extjs.cmd" version="3.1" />
        </static-preset>
    </extension>
    <extension
          id="extjsNature"
          name="ExtJS Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="net.w3des.extjs.core.ExtJSNature">
          </run>
       </runtime>
       <requires-nature
             id="org.eclipse.wst.jsdt.core.jsNature">
       </requires-nature>
       <content-type
             id="net.w3des.extjs.core.extjsContentType">
       </content-type>
    </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated extjs -->
      <package
            uri="http://extjs.w3des.net/1.0"
            class="net.w3des.extjs.core.model.basic.ExtJSPackage"
            genModel="resources/model/extjs.genmodel"/>
   </extension>

   <extension point="org.eclipse.team.core.fileTypes">
        <fileTypes extension="js" type="text"/>
   </extension>

    <extension
             point="org.eclipse.core.contenttype.contentTypes">
          <content-type
                file-extensions="js"
                base-type="org.eclipse.core.runtime.text"
                id="net.w3des.extjs.core.extjsContentType"
                name="ExtJS Content Type"
                priority="high">
          </content-type>
   </extension>
    <extension
          point="org.eclipse.wst.jsdt.core.validationParticipant">
       <validationParticipant
             class="net.w3des.extjs.internal.core.validation.TrailingCommaValidation"
             createsProblems="true"
             id="net.w3des.extjs.core.validation.trailingComma"
             modifiesEnvironment="false">
          <managedMarker
                markerType="net.w3des.extjs.validation.problem">
          </managedMarker>
       </validationParticipant>
    </extension>
    <extension id="net.w3des.extjs.validation.problem" point="org.eclipse.core.resources.markers" name="ExtJS Problem">
        <super type="org.eclipse.wst.jsdt.core.problem" />
        <persistent value="true"/>
    </extension>
    <extension
          point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
       <JsGlobalScopeContainerInitializer
             class="net.w3des.extjs.internal.core.jscpc.EnvContainerInitializer"
             id="net.w3des.extjs.core.EnvContainer">
       </JsGlobalScopeContainerInitializer>
       <JsGlobalScopeContainerInitializer
             class="net.w3des.extjs.internal.core.jscpc.LibContainerInitializer"
             id="net.w3des.extjs.core.LibContainer">
       </JsGlobalScopeContainerInitializer>
    </extension>
    <extension
          id="net.w3des.extjs.core.builder.extJSBuilder"
          name="ExtJS Builder"
          point="org.eclipse.core.resources.builders">
       <builder>
          <run
                class="net.w3des.extjs.core.builder.ExtJSBuilder">
          </run>
       </builder>
    </extension>
</plugin>
